.filtersContainer {
  position: absolute;
  left: calc((100% - var(--content-width)) / 2);
  top: 6rem;
  width: var(--content-width);
  background-color: white;
  min-height: 4.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: var(--shadow);

  div {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
  }

  .clear {
    margin-left: auto;
    background-color: transparent;
    border: none;
    color: var(--color-desaturated-dark-cyan);
  }

  .clear:hover {
    text-decoration: underline;
    font-weight: var(--weight-bold);
  }
}

@media screen and (max-width: 768px) {
  .filtersContainer {
    left: calc((100% - var(--content-width-mobile)) / 2);
    top: 6rem;
    width: var(--content-width-mobile);
  }
}
