.header {
  background-image: url('./assets/bg-header-desktop.svg');
  background-color: var(--color-desaturated-dark-cyan);
  width: 100dvw;
  height: 8rem;
}

.main {
  width: var(--content-width);
  margin: auto;
  margin-top: 2.5rem;
  transition: margin-top 200ms ease-in-out;
}

@media screen and (max-width: 768px) {
  .header {
    background-image: url('./assets/bg-header-mobile.svg');
  }
}
